@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  outline: none;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Roboto Mono", monospace;
  background-image: url("https://1.bp.blogspot.com/-7XX4EALtmpg/YBMbGiT1ymI/AAAAAAAAeZY/8h760GMBkzM5eTqRhOBTq9Qec7pJj7ZzQCLcBGAsYHQ/s16000/heroscreen.cc-V1-01282021-CIRCUIT-HD.png");
  background-size: cover;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
  display: flex;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color: #ffffff;
  text-align: center;
  margin: 100px 0 5px;
}

.page-subtitle {
  padding: 10px 0px;
  font-size: 20px;
  color: #ffffff;
  margin-top: 16px;
}

.page-logo {
  width: 200px;
}

input {
  padding: 12px;
  border-radius: 10px;
  border: 3px solid #197be9;
  font-size: 15px;
}

button {
  padding: 14px;
  font-size: 15px;
  background-color: #59a6ff;
  color: white;
  border: 0px;
  border-radius: 12px;
  margin: 20px 0px;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0), 0 6px 6px rgba(0, 0, 0, 0.2);
}

.resultado {
  color: #ffffff;
  text-align: center;
  margin-top: 16px;
}
