body {
  font-family: "Bebas Neue", cursive;
  text-align: center;
  background-image: url("https://i.ibb.co/Rcbpsv4/Home-Office-Feliz-Segunda-Instagram-Post-2.png");
  background-color: black;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

p {
  text-align: center;
  font-size: 15px;
}

.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
  text-align: center;
}

h2 {
  color: white;
  font-size: 15px;
}

#caixa-formulario {
  color: white;
  display: inline-block;
  text-align: center;
  width: 100%;
  vertical-align: top;
  margin: auto;
  padding: 0 40px 0px 40px;
  box-sizing: border-box;
}

h3 {
  font-size: 18px;
  color: #da1e26;
  text-align: left;
  margin: none;
  display: block;
}

.form {
  font-family: "Bebas Neue", cursive;
  margin: 0 0 10px;
  color: #000000;
}

input {
  font-family: "Bebas Neue", cursive;
  text-align: center;
  width: 21%;
  display: block;
  margin: 0 auto;
  padding: 10px 15px;
}

select {
  font-family: "Bebas Neue", cursive;
  text-align: center;
  margin-top: 22px;
  width: 23%;
  height: 24px;
  font-size: 15px;
  color: #000000;
}

button {
  font-family: "Bebas Neue", cursive;
  text-align: center;
  border: 0;
  color: #ffffff;
  width: 11.3%;
  background: #da1e26;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 4px;
  margin-top: 0;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: black;
  color: #a5261f;
}

#mensagemErro {
  display: inline-block;
  text-align: center;
  width: 22%;
  vertical-align: top;
  margin: 1.5% 30% 1% 30%;
  padding: 0 20px 0px 20px;
  background: white;
  color: black;
  box-sizing: border-box;
}

h4 {
  color: #a5261f;
  text-align: left;
  margin: none;
  display: block;
}

.caixaFilmes {
  background: black;
  width: 100%;
  margin: 0 0 3% 0;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.page-logo {
  width: 200px;
}

body > img {
  margin: 0 10px;
}

img {
  max-height: 250px;
}

/*img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    box-shadow: 0px 0px 8px 1px #000;
  }*/

figure {
  color: #ffffff;
  margin: 0.5rem;
  transition: 0.2s;
}
